@using GMS.Domian.APIMS.Entities
@using GMS.WebUI.Infrastructure
@model CustomerClass
@{
    Layout = null;
    var edit = ViewData["edit"] ?? false;
    var innerModalID = "ID" + DateTime.Now.ToString("MMddHHmmssf");
}

<div class="modal-dialog">
    <div class="modal-content">
    @if (Model == null)
    {
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" data-backdrop="false" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="myModalLabel">null</h3>
        </div>
        <div class="modal-body">
            <h4 style="color:red;font-weight:bold">无类型</h4>
        </div>
    }
    else
    { 
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" data-backdrop="false" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="myModalLabel">@Model.Name</h3>
            <h4>@Model.Description</h4>
        </div>
            <div class="modal-body">
            @if (Model.Properties.Count > 0)
            {
                <table class="table table-striped table-condensed table-bordered">
                    <tr>
                        @foreach (var name in ClassHelper.GetDisplayNames(typeof(ClassProperty)))
                        {
                            <th>@name</th>
                        }
                    </tr>
                    @foreach (var item in Model.Properties)
                    {
                        <tr>
                            <td><label class="classname">@item.Name</label></td>
                            <td>
                                <a onclick="innerCustomerClassID(this,'#@innerModalID');" data-toggle="modal" data-target="#@innerModalID" href="#" >
                                    <input type="hidden" value="@item.ClassTypeID" />
                                    @GMS.WebUI.Infrastructure.HtmlHelper.GetClassTypeName(@item.ClassTypeID)
                                </a>
                            </td>
                            <td>@item.Length</td>
                            <td>
                                @if ((bool)edit)
                                {
                                    if (GMS.WebUI.Infrastructure.HtmlHelper.CheckClassTypeHaveProperties(item.ClassTypeID))
                                    {
                                        <input id="value" class="propertyvalue" type="text" style="background-color:lightgray;max-width:1000px;width:100%" readonly value="@item.DefaultValue" />
                                    }
                                    else
                                    {
                                        <input id="value" class="propertyvalue" type="text" style="max-width:1000px;width:100%" value="@item.DefaultValue" />
                                    }
                                }
                                else
                                {
                                    @item.DefaultValue
                                }
                            </td>
                            <td>@item.Description</td>
                        </tr>
                    }
                </table>
            }
            else if(@Model.Name.EndsWith("[]"))
            {
                <h4 style="color:burlywood;font-weight:bold">数组</h4>
            }
            else
            {
                <h4 style="color:green;font-weight:bold">基础类型</h4>
            }
            </div>
        }
    </div><!-- /.modal-content -->
</div><!-- /.modal -->
<div class="modal fade" id="@innerModalID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<script>
    function innerCustomerClassID(obj, innerModelID) {
        clickItems.push(obj);
        var valueObj = $(obj).parent().parent().find('#value');
        var valueJson = "";
        if (valueObj)
            valueJson = valueObj.val();
        var editObj = '@edit' == 'True' ? true : false;
        var customerClassID = { customerClassID: $(obj).find('input').val(), value: valueJson, edit: editObj };
        LoadAjax(innerModelID, '@Url.Action("TypeViewer", "CustomerAPIItem")', customerClassID);
    }

    $('#@innerModalID').on('hide.bs.modal', function (event) {
        event.stopPropagation();//阻止事件向上或向下冒泡
        var obj = {};
        var classname = $(this).find('.classname');
        if (classname.length == 0)
            return;
        var propertyvalue = $(this).find('.propertyvalue');
        for (var i = 0; i < classname.length; i++) {
            obj[classname[i].innerText] = $(propertyvalue[i]).val();
        }
        var clickItem = clickItems.pop();
        var $currenttr = $(clickItem).parent().parent();
        $currenttr.find('.propertyvalue').val(JSON.stringify(obj));
        $(this).html('');
    })

</script>